entrypoint = "server.js"
modules = ["nodejs-20"]
run = "npm start"

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "server.js"]

[deployment]
run = "npm start"
deploymentTarget = "cloudrun"
